body {
  background-color: #0c0c1d;
  color: lightgray;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  padding-bottom: 20px;
}



@media(min-width: 1024px) {
  .cursor{
   width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
}
}


/* scrollbar style */
::-webkit-scrollbar {
  width: 3px; 
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 100vw;
  margin-block: .5em; 
}

::-webkit-scrollbar-thumb:hover {
  background: red; 
}
